/* var	 */
@import "compass";
/* colors */
$text-color:#ffffff; /* white */
$header-color:#030405; /* black */
$menu-color:#3a3f46; /*  gray */
$content-bg:#222c36; /* dark gray */
$content-color:#f4f6f8; /* white */
$nav-color:#327ad7; /* blue */
$footer-text:#8c9196; /* gray */
$unactive-header-link:#9a9b9b;/*  gray */
$footer-nav:#327ad7; /* dark blue */
$sub-bg:#27292f; /*  dark gray */
$other-menu:#e5e5e5; /*  light gray */
/* fonts */
$line-height-header:24px;
$size-link:15px;
$size-meta:13px;
$img-dir:"../img/";
$main-lh:1.5;
$size-slider:13px;
/* margins */
$side-margin:16px;
$center-margin: 170px;
$content-margin:150px;
$content-side:20px;
/* widths */
$nav-content-width:140px;
$aside-width:220px;


/* boxes */
$border-box:border-box;

/* main styles */
html {height:100%;}
body
	{
		background:$content-bg url($img-dir + "content-bg.jpg") 50% 0px no-repeat;;
		font-family: Arial, Helvetica sans-serif;
		color:#000;
		font-size:14px;
		min-height:100%;
		line-height:$main-lh;
		
	}
a {color:#000; text-decoration:none;}	
h1 {font-size:32px;}
h2 {font-size:24px;}
h3 {font-size:19px;}
h4 {font-size:16px;}
h5 {font-size:13px;}
h6 {font-size:11px;}	
.clearfix:before, .clearfix:after {   content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

code
	{
		font-family:"Courier New", Courier, monospace;
		color:#000;
	}	
blockquote
	{
		font-style:italic;
		background:#ccc;
		margin-left:20px;
	}	
input[name="q"] {border:none; width:130px; height:26px; float:right;  margin-top: 15px; padding:0; margin-right:5px;outline:none;padding-left:5px;}	
form 
{position:relative;}	
.clear
	{
		clear:both;
	}
button[type="submit"]	{width:24px; height:26px; float: right; margin-top: 15px; border:none; background:url($img-dir + "search.png") no-repeat; cursor:pointer;}
a.button 
{
	line-height:1;
	text-align:center;
	font-size:14px;
	position:relative;
	border:1px solid #4a89e9; 
	@include box-shadow(0 0 1px 1px #405DAD);
	@include text-shadow(2px -1px #2860AF);
	  background:#357ce6; @include border-radius(4px); padding:9px 15px 7px 14px; margin-bottom:15px;display:block; color:$text-color; font-weight:bold;letter-spacing:1px;
	
	&:hover {background: #3396fd; /* Old browsers */
			background: -moz-linear-gradient(top,  #3396fd 0%, #3578e4 77%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3396fd), color-stop(77%,#3578e4)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #3396fd 0%,#3578e4 77%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #3396fd 0%,#3578e4 77%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #3396fd 0%,#3578e4 77%); /* IE10+ */
			background: linear-gradient(to bottom,  #3396fd 0%,#3578e4 77%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3396fd', endColorstr='#3578e4',GradientType=0 ); /* IE6-9 */
			}
	&:active {background: #3576e2; /* Old browsers */
				background: -moz-linear-gradient(top,  #3576e2 0%, #3584ee 77%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3576e2), color-stop(77%,#3584ee)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #3576e2 0%,#3584ee 77%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #3576e2 0%,#3584ee 77%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #3576e2 0%,#3584ee 77%); /* IE10+ */
				background: linear-gradient(to bottom,  #3576e2 0%,#3584ee 77%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3576e2', endColorstr='#3584ee',GradientType=0 ); /* IE6-9 */

			}
}


/* main page */
header
	{
		
		background:$header-color;
		width:100%;
		margin:0 auto;
		
		
		
		.header-wrapper { padding-bottom:6px; height:100%; width:1280px; margin:0 auto; .header_menu { margin: 0 auto; height:100%; width:938px; /* overflow:hidden;  *//* margin:0 auto;  */ nav.header_menu-wrapper { margin-left:-4px;float:left; a{margin:0; float:none; padding-bottom:9px;}} }
				.private_cab 	{float:right; margin:12px 16px 0 0; width:155px;
			.private_cab-message 
			{
				position:relative;float:right; margin-right:30px; span {border:none;color:$text-color;line-height:24px;position:absolute; left:50%;bottom:50%;width:23px; height:23px; background:#f94f1f; @include border-radius(100%);line-height:23px;}
				a {&:hover ~ .private_cab-sub {display:block;}}
				.private_cab-sub
					{
						position:absolute;
						margin:0;
						border:1px solid  $other-menu;
						right:0;
						display:none;
						background:#ffffff;
						z-index:1000;
						&:hover {display:block;}
						li {position:relative;  ~ li a {font-weight:lighter; border-top:1px solid $other-menu;  padding:14px 0 8px 20px;} a {padding:20px 0 10px 20px; width:212px; color:#000; }}
						i {display:block; font-size:13px; color:#7d7f82; line-height:$main-lh; }
						span {top:50%; margin-top:-12px; left:100%; margin-left:-31px;}
					}
			}
			
					span {float:right;text-align:center;line-height:26px;border:3px solid #4f5050; @include border-radius(5px); display:inline-block;width:36px; height:26px;font-size:18px; color:#4e565e;} }
			}
			
		.logo 	{float:left; margin:10px 3px 0 $side-margin; width:152px;}
		.header_menu-list  { /* overflow:hidden;  */height:100%; margin:19px 0 0 44px; li { float:left; position:relative;}}
		
		a 	{display:inline-block;color:$unactive-header-link;  font-size:$size-link; text-decoration:none; font-weight:bold; }
		.games {
			
			.active {color:$text-color; background:url($img-dir + "games.png") 0px 3.5px no-repeat;}
			 a{&:hover ~ .games-sub {display:block;}} 
			.games-sub 
				{
					position:relative;
					&:hover {display:block;}
					background:$sub-bg;position:absolute;z-index:1000; margin:0;  display:none;  
					top:32px;
					.inners img { float:right; line-height:24px; margin-top:3px;}
					li 
					{
						border:1px solid #27292f;
						~ li {border-top:1px solid   #23252a ; position:relative; &:before {content:""; position:absolute; border-top:1px solid  #32343a ;z-index:-1; top:0px; left:0; width:100%;} }
						float:none; 
						a{
							line-height:1;;
							color:$text-color; font-size:$size-link;
							 width:213px; @include box-sizing($border-box); padding:13px 5px 8px 37px !important; background:url($img-dir + "star-menu-simple.png") 7px 50% no-repeat;
						/* 	&:hover {background:url($img-dir + "star-menu-hover.png") 7px 50% no-repeat;} */
							&:active {background:url($img-dir + "star-menu-active.png") 7px 50% no-repeat;}
							&:hover ~ .inners-sub {display:block;}
						
						} 
						
					.inners-sub {
						display:none;  
						width:606px;
						background:$sub-bg;
						margin:0;
						position:absolute;
						left:100%;
						top:-39px;
						z-index:1000;
						border-left:1px solid #23252a;
						a {background:none; padding:14px 5px 9px 17px !important; }
						&:hover {display:block;}
						.inners-list {float:left; a{color:#999999; font-size:13px; &:hover {color:$text-color;}}}
						.inners-view {background:url($img-dir + "aliens.png") no-repeat; float:left; width:391px; height:266px; position:relative; p { position:absolute;color:#000; font-size:15px; bottom:20px; left:24px; font-weight:bold;}}
						}
				
					} 
					img.double-sub 	{margin-right:12px;}			
					
					a.active {background:url($img-dir + "star-menu-active.png") 7px 50% no-repeat !important;}
				}
			
				a {background:url($img-dir + "games.png") 0px 3.5px no-repeat;line-height:$line-height-header; padding-left:36px;
					&:hover ~ .games-sub{display:block;}
					&:hover {color:$text-color;background:url($img-dir + "games.png") 0px 3.5px no-repeat;} }
				}
				
	

		.media { margin-left:38px; a {background:url($img-dir + "media.png") 0px 2px no-repeat; line-height:$line-height-header; padding-left:31px; &:hover {color:$text-color;background:url($img-dir + "media.png") 0px 2px no-repeat;}}}
		.community  {  margin-left:33px; a {line-height:$line-height-header; background:url($img-dir + "community.png") no-repeat; padding-left:30px; &:hover {color:$text-color; background:url($img-dir + "community.png") no-repeat;}}}
		.other  {  &:hover  .other-sub{display:block; } 
				/* 	padding-left:55px;  */a { line-height:$line-height-header; background:url($img-dir + "more.png") 100% 9px no-repeat; padding-left:55px; width:21px; height:24px; &:hover {background:url($img-dir + "more.png") 100% 9px no-repeat; }}
						
						.other-sub
						{
							&:hover {display:block;}
							position:absolute;
							display:none;
							background:#fff;
							z-index:1001;
							margin:0;
							line-height:1;;
							left:12px;
							border:1px solid $other-menu;
							img {float:right; margin:8px 14px 0 0 ;}	
							.favorites { background:url($img-dir + "star-favourites.png") 20px 50% no-repeat; padding-left:42px;
							width:190px;
/* 								&:hover {background:url($img-dir + "star-menu-hover.png") 20px 50% no-repeat;}
								&:active {background:url($img-dir + "star-menu-active.png") 20px 50% no-repeat;} */
								}
							li ~ li { border-top:1px solid $other-menu; }
							li { float:none; position:relative;  width:232px;
							
							
							a
							{
								&.favorites {color:#999999;font-size:13px;}
								&:hover ~ .work-sub {display:block};
								&:hover ~ .help-sub {display:block};
								display:block; color:#000;  padding:12px 0 10px 20px; 
								width:212px;
							}}
						
						
							
						.work-sub
							{
								background:#fff;
								display:none; 
								position:absolute;
								left:100%;
								top:0;
								margin:0;
								width:230px;
								border-left:1px solid $other-menu;
								&:hover {display:block;}
							}						
						.help-sub
							{
								background:#fff;
								display:none; 
								position:absolute;
								left:100%;
								top:0;
								margin:0;
								border-left:1px solid $other-menu;
								width:230px;
								&:hover {display:block;}
							}	
						}
				} 

	}
	
.meta 	
	{
		.meta-wrapper {width:1280px; margin:0 auto;}
		padding:7px  0;
		overflow:hidden;
		a {font-size:$size-meta;color:$text-color; &:hover {text-decoration:underline;}}
		.meta-all {margin-left:18px;float:left;}
		.meta-add {margin-right:30px;float:right;}
		background:rgba(56,61,68, 0.9); 
		.meta-games {margin:0 $center-margin;a {margin-right:21px;} a.active {font-weight:bold;} }
		.meta-box{float:left;}
		
	}
.section-container {width:100%;}	
.section-wrapper{width:978px; margin: 0 auto; /* padding:0 150px; */}	
.section
	{
		width:1280px;
		margin:0 auto;
			
	
		.game_info {position:relative;margin-bottom:33px; padding:22px 20px 0;overflow:hidden; .game_info-number {span {color:$text-color;}img{position:relative;bottom:0;}  float:left;position:relative; img {} span {@include border-radius(22px); font-size:15px; font-weight:bold;text-align:center;line-height:23px;position:absolute; bottom:148px; right:-11px;width:33px; height:23px;background:#f94f1f;}}}
		.game_info-description { height:auto; float:left; width:520px;color:$text-color;margin:0px  39px  0; span {display:inline-block; margin-top:20px;} h1 {margin-bottom:14px; letter-spacing:1px;} p {line-height:$main-lh; font-size:13px;word-spacing:1px;} }
		.game_info-buy	{margin-top:62px; float:left;
			a span {line-height:$main-lh;color:$text-color; text-decoration:underline;}}
		.section-content {}
		.caption-info{@include transition(bottom 0.5s ease);}
		.section-content_list 	{background:transparent;line-height:$main-lh; text-align:left;overflow:hidden; 
			li {float:left; width:163px; height:200px;  a { width:100%;height:inherit; &:hover .active_point {opacity:1;} &:hover .slide-shadow{opacity:1;}}
				&:hover span{bottom:10px;}
				&:hover .caption-info {bottom:55px;}}
			
			.active_point {width:50px; height:50px; position:absolute; top:7px; left:10px;margin:0;  opacity:0;  background:url($img-dir + "map-active.png") no-repeat; @include transition(opacity 0.3s ease);}
			.active_point.active {opacity:1;}
			.slide-shadow.active {opacity:1;}
			
			.slide-shadow {@include transition(opacity 0.3s ease);  opacity:0; width:100%; height:200px;background:url($img-dir + "shadow-slide.png") no-repeat;position:absolute;top:0; left:0;}
			
			.section-content_item 
				{
					
					position:relative;float:left; 
				 	figure {position:relative; height:inherit; }
					figcaption {position:absolute; bottom:10px; left:0; color:$text-color; padding:0px 12px;} 
				}
			h3 {font-size:$size-slider; font-weight:bold;} p {font-size:$size-slider; margin-bottom: 2px;}  p ~ p {font-size:11px;} span  {@include transition(bottom  0.3s ease);display:inline-block;font-size:11px;  position:absolute; bottom:-100px; img {margin-right:7px;vertical-align:middle;} i {vertical-align:middle;} }}
											.box-info {position:absolute; bottom:16px; padding:0 10px; color:$text-color;}

		.section-content_main {padding:20px 20px 20px 20px; 
		background:$content-color;
			.gray_box {width:100%; img {width:100%;}} 
			p { margin:0 0 18px $nav-content-width+20px; font-size:13px; span {font-weight:bold;} a {font-weight:bold;margin-left:10px;} a.active {color:$nav-color; border-bottom:1px dashed $nav-color; }}
			.content_box {margin-top:34px; overflow:hidden;  aside {float:right;width:$aside-width; p {margin:33px 0 20px 0; line-height:$main-lh; font-style:italic; color:#666666;} a {margin-right:13px;}}}
			.content_box-nav
				{
					width:$nav-content-width; float:left; 
					p {margin:0;}
					h5 {margin-top:49px; font-size:15px; font-weight:bold;}
					ul{ li {margin-top:9px; a {color:$nav-color; font-size:13px; font-weight:bold; text-decoration:underline; &:hover {color:lighten($nav-color, 15%)}}}}
					.find_container
						{
							select {display:block;  }
							.find_container-select
								{
									border:1px solid black; height:32px;
									margin-bottom:5px;
																	
								}
							
							span {font-size:13px;}
							p {font-size:11px; color:#6f7070;font-style:italic;line-height:$main-lh; margin-top:6px;}
						}	
				}
				}
			.content_servers { margin:0 0 0 $nav-content-width+20px; 
				
				.content_servers-list 
					{
						
						li {display:inline-block; vertical-align:top;}
					}
				.content_servers-item
				{
					
					position:relative;display:inline-block; width:160px; height:200px;  margin:0 16px 20px 0;  vertical-align:top;
					@include border-radius(4px);
					@include box-shadow(1px 1px 3px 1px #c3c5c6);
					overflow:hidden;
					figure {width:100%;}
					.figcaption-info {position:absolute; bottom:0; @include transition(all 0.5s ease); }
					&:hover span.country-ip {bottom:-3px;}
					&:hover figure img {top:-100%;}
					&:hover .active_point {display:none;}
					&:hover .figcaption-info {bottom:110px;}
					figure img {position:absolute;top:0;@include transition(top 0.4s ease-in-out);}
				
					figcaption
					{
						width:100%;
					
						span.country-ip {img {position:static; margin-right:4px;}display:inline;  width:100%;  bottom:-30px;  position:absolute;margin:0;@include transition(bottom 0.5s ease);}
						height:100%;
						padding:0 10px;
						line-height:1.3;
						position:absolute;
						bottom:15px;
						p {margin:0 0 3px 0; }
						span {display:inline-block; margin-top:60px;color:$nav-color; font-size:12px; img {margin-right:4px;}}
						h3 {font-size:$size-slider; font-weight:bold; margin-bottom:5px;}
						p {font-size:$size-slider; }
						p ~ p {font-size:11px;}
					}
						.active_point {width:50px; height:50px; position:absolute; top:7px; left:10px;margin:0; opacity:0;  background:url($img-dir + "map-active.png") no-repeat; @include transition(opacity 0.3s ease);}
						.active_point.active {opacity:1;}
						.active_pro {width:37px; height:40px; position:absolute; top:100px; right:-4px; background:url($img-dir + "pro-img.png") no-repeat; }
					
				}
/* 				.content_servers-item.no-active
					{
						line-height:$main-lh;
						h3 {margin-bottom:11px;}
						p {margin-bottom:6px;}
					} */
				.paginator 
					{
						 margin-top:41px; overflow:hidden;
						li 
							{
								
								float:left;
								
								a { color:#666666; padding:10px 13px  10px 11px; display:block;  line-height:1;
									
									border:1px solid #edeff1;
									border-top:1px solid #f4f6f8;
									&:hover {border:1px solid #eaecee; border-top:1px solid #f4f6f8;} 
									
									
									&:active {border:1px solid #2770b1 !important;  color:$text-color; background: #3074b0; /* Old browsers */
																	background: -moz-linear-gradient(top,  #3074b0 0%, #3784c9 77%); /* FF3.6+ */
																	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3074b0), color-stop(77%,#3784c9)); /* Chrome,Safari4+ */
																	background: -webkit-linear-gradient(top,  #3074b0 0%,#3784c9 77%); /* Chrome10+,Safari5.1+ */
																	background: -o-linear-gradient(top,  #3074b0 0%,#3784c9 77%); /* Opera 11.10+ */
																	background: -ms-linear-gradient(top,  #3074b0 0%,#3784c9 77%); /* IE10+ */
																	background: linear-gradient(to bottom,  #3074b0 0%,#3784c9 77%); /* W3C */
																	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3074b0', endColorstr='#3784c9',GradientType=0 ); /* IE6-9 */
											}
									}
								a.page-normal { border-left:1px solid #f4f6f8;}	
								a.page-last { &:active  { color:#fff;} &:hover {} @include border-radius(5px); border:1px solid #edeff1; border-top:1px solid #f4f6f8;}
								a.page-right {border-left:1px solid #f4f6f8; margin-right:10px; &:hover {} &:active {} @include border-top-right-radius(5px); @include border-bottom-right-radius(5px);  }
								a.page-left { &:active {} @include border-top-left-radius(5px); @include border-bottom-left-radius(5px); }
								a.page-active { color:$text-color;  background:#3784c9; border:1px solid #2770b1;}
								a.page-left.page-active {}
								a.page-right.page-active {}
								
							}
					}
			}	
			
			
			
			
			.content-other
				{
					.content-list {overflow:hidden;}
					li {height:140px;float:left;  ~ li {margin-left:19.6px;}}
					a {height:inherit;}
					span {display:inline-block;font-size:24px; font-weight:bold; margin-bottom:14px;}
					figure {position:relative; height:inherit; width:inherit; }
					figcaption {position:absolute; left:0;  bottom:6px; padding:0 12px;  span {font-size:$size-slider; font-weight:normal; margin:0; color:$text-color;}}
					overflow:hidden;
					margin-top:87px;
					line-height:$main-lh;
					p {font-size:$size-slider; margin:0; font-weight:bold; color:$text-color;}
					
								
				}
	}

	footer
	{
		margin:0 auto;
		color:$text-color;
		.footer-wrapper 
			{
				width:938px;
				overflow:hidden;
				padding:0 170px;
				margin:0 auto;
				.footer-info { a{font-size:12px;color:#6a7178;} margin-top:43px; span {color:$text-color; font-size:13px; float:left; margin:0;} .social  {overflow:hidden; li {margin:0 0 0 10px;}margin-top:-9px; margin-right:100px; float:right;a { img {margin:0;} } } a{float:right; color:$text-color; vertical-align:middle; img { margin-left:10px; vertical-align:middle;}}}
				ul { overflow:hidden;  li {margin-right: 9px;  float:left;  a{color:$footer-nav; font-size:12px;  &:hover {color:lighten($footer-nav, 9%); text-decoration:underline; }  }} }
				span {display:inline-block;font-size:10px; color:#83898e; margin:27px 0 65px;}
			}	
	}


/* fading menu styles */

.multilevelpushmenu_wrapper 
{
    margin: 0;
  /*   min-height: 100%; */
    min-width: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.multilevelpushmenu_wrapper .ltr {
   @include   box-shadow(0 0 1px 1px #000);
    left: 0;
    margin-left: -100%;
}

.multilevelpushmenu_wrapper h2 {padding: 0 0.4em; margin:19px 0; color:#9A9B9B; i {&:hover {color:$text-color;}}}
.multilevelpushmenu_wrapper li { padding: 0.4em;}
.multilevelpushmenu_wrapper .floatRight {float: right;}

.multilevelpushmenu_wrapper a {
    color: #9A9B9B;
    display: block;
    font-size: 16px;
    line-height: 1em;
    outline: medium none;
    overflow: hidden;
    padding: 0.2em;
    text-decoration: none;
}
.multilevelpushmenu_wrapper .cursorPointer {cursor: pointer;}
.multilevelpushmenu_wrapper .levelHolderClass {
    background: none repeat scroll 0 0 #27292f;
    font-size: 1em;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: auto;
}

.multilevelpushmenu_wrapper .multilevelpushmenu_inactive { background:lighten(#27292F, 5%); }
.multilevelpushmenu_wrapper .backItemClass {
    background:darken(#27292f, 10%);
    border-top: 1px solid #32343a;
    display: block;
    padding: 0.4em;
}
.multilevelpushmenu_wrapper a:hover {color: #FFFFEE;}
.multilevelpushmenu_wrapper li:hover {background-color:darken(#27292f, 10%); }
.multilevelpushmenu_wrapper .iconSpacing_ltr {padding: 0 0.4em 0 0;}
.multilevelpushmenu_wrapper li {
    border-top: 1px solid #32343a;
    cursor: pointer;
    padding: 0.4em;
}
.header_menu-mobile { overflow:hidden;   position:relative; .logo-mobile {display:block;margin:0 auto;}}
#menu 	{float:left;}
#menu ul li a span {	display:block; font-size:13px !important;}
#menu ul li
	.games-mobile {line-height:17px !important;}
	.media-mobile {line-height:20px !important;}
	.community-mobile {line-height:24px !important;}
	.more-mobile { i {line-height:11px;}}
	.search-mobile {line-height:26px !important;}
	
	.inners-mobile a {padding-left:32px;background:url($img-dir + "star-menu-simple.png") 0 50% no-repeat;
						}
	.inners-mobile li a:hover { background:url($img-dir + "star-menu-hover.png") 0 50% no-repeat;}
	.inners-mobile li a:active { background:url($img-dir + "star-menu-click.png") 0 50% no-repeat;}	
	.inners-mobile li a.active { background:url($img-dir + "star-menu-active.png") 0 50% no-repeat;}	
	
	.inners-mobile .backItemClass a {background:darken(#27292f, 10%) !important; padding-left:0.2em; &:hover {background:none;} &:active {background:none;}}
	.inners_sub-mobile li {&:hover a {background:none;} &:active  a {background:none;}}
	.inners_sub-mobile a {background:none !important; padding-left:0.2em;}
	.backItemClass {background:darken(#27292f, 10%) !important;}
.menu_mobile-message {display:inline-block !important; float:right; background:black; @include border-radius(50%); padding:3px 10px;}
/* end of fading menu styles */

		.meta
			{
				padding-top:6px;
				.meta-likes 
					{
						float:right;
						margin-right:37px;
						a {font-size:15px; font-weight:bold; &:hover {text-decoration:none;} img {margin-right:6px; vertical-align:middle;}}
						ul 	{ li {float:right; margin-left:25px;/*  height:16px; */}}
					}
				.meta-games 
					{
						ul
							{
								overflow:hidden;
								li {
										float:left; a {margin-right:0;}
										&.meta-server {margin-right:19px;}
										&.meta-connect {margin-right:19px;}
										&.meta-media {margin-right:21px;}
										&.meta-review {margin-right:16px;}
										&.meta-update {}
									}
							}
					}				
			}


/* page separate styles */
.section
	{

		.section-container
			{
				.section-wrap
					{
						margin:200px auto 0;
						width:980px;
						padding:0 150px;
						.section_wrap-block
							{
								border-top:1px solid #a7abaf;
								border-bottom:1px solid #a7abaf;
								background:#fff;
								.map_info 
									{	
										.shadow-box {text-align:center; a{width:96px;height:96px;display:inline-block;}}
										overflow:hidden;
										padding:26px 34px 38px;
										a {float:left; position:relative;}
										img {position:relative; bottom:0;}
										span 
											{
											    background: url("../img/game-views.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
												top:0px;
												left:63px;
												font-size: 15px;
												font-weight: bold;
												height: 24px;
												line-height: 24px;
												position: absolute;
												text-align: center;
												width: 34px;
												color:$text-color;
											
											}
										.map_info-title
											{
												margin-left:49px;
												float:left;
												width:767px;
												h1 {font-size:36px; margin-bottom: 16px; img {margin-left:35px;} line-height:1;}
												p {font-size:13px; line-height:$main-lh; padding-right:220px; margin-bottom: 13px;}
												a {color:#659be1; text-decoration:underline;float:left;}
												.map_info-connect
													{
														padding-top:26px;
														a {float:none; line-height:20px;text-decoration:none; border-bottom:1px dotted #327ad7;  vertical-align:top; margin-left:31px; font-size:13px;}
														clear:both;
													}
											}
																			
									}
								.game_statistic
									{
										overflow:hidden;
										padding:0 20px 16px 20px;
										font-size:13px;
										.game_statistic-img {float:left; width:439px;}	
										.game_statistic-caption
											{
												line-height:$main-lh;
												margin-left:161px;
												margin-top:16px;
												a {color:#659be1; text-decoration:underline;}
											}
										.game_statistic-info
											{
												
												float:left;
												width:199px;
												padding:2px 39px 0;
												span {font-size:13px; color:#999999; line-height:1; &.match-type {font-size:15px;} vertical-align:middle; &.type-load { img {vertical-align:bottom;}/* padding-left:27px; *//* background:url($img-dir + "loading.png") 0 50% no-repeat; */}}
												p {font-size:15px; color:#000; font-weight:bold; &.online {font-size:36px;margin: 0 0 6px;letter-spacing: 2px;}}
												ul {margin:20px 0 18px; li {padding-left:28px; &.type-ip {background:url($img-dir + "map-active.png") 0 50% no-repeat;}
																			&.type-country {background:url($img-dir + "flag-ip.png") 0 50% no-repeat;}}}
												a.button {display:inline-block; margin-top:49px;margin-bottom:0; font-size:15px;}
											}
										.game_statistic-aside
											{
												width:220px;
												float:left;
												margin-left:4px;
											}										
									}
								.map_rotation
									{
										overflow:hidden;
										padding:19px 0 16px 20px;
										background:#151618;
										p {color:$text-color;  float:left; font-size:15px; font-weight:bold;}
										span {color:$text-color;  font-size:11px;}
										ul
											{
												margin-left:98px;
												float:left;
												li {float:left; width:131px; p{float:none; font-size:13px;} ~ li {margin-left:29px;}}
											}
									}
								.servers_connect
									{
										overflow:hidden;
										padding:0 0 39px 20px;
										.servers_connect-about 
											{
												margin-top:62px;
												p {font-size:15px; color:#000; margin-bottom:17px;}
												a {font-size:14px; color:#659be1; text-decoration:underline; }
												float:left
											}
										.servers_connect-list
											{
												margin-top:62px;
												margin-left:63px;
												float:left;
												a.normal {font-weight:normal;}
												ul
													{
														li 
															{
																font-size:14px;
																a {color:#659be1; text-decoration:underline; font-weight:bold;}
																span { color:#000; i{color:#858585;}}
															}
														li:nth-child(2n)	
															{
																margin-bottom:18px;
															}
													}
											}	
										.server_connect-position
											{
												span {font-size:13px !important;}
												margin:47px 60px 0 0;
												float:right;
												span {display:block;color:#7a7a7a; line-height:$main-lh;}
												.server_connect-place
													{	
														
														overflow:hidden;
														img {float:left; margin-right:13px; }
														p {float:left; font-size:15px; font-weight:bold;margin-top:15px; }
														position:relative;
														.server_connect-caption {position:absolute; width:53px; height:74px; text-align:center;top:0; left:0; } 
														span 
															{
																line-height:48px;
																text-align:center;	
																font-size:21px; 
																color:$text-color;
																position:absolute;
																top:13px;
																left:2px;
																width:48px;
																height:48px;
																background:url($img-dir + "separate-circle.gif") no-repeat;
																opacity:0.7;
																z-index:100;
																
															}
														i { position:relative; color:$text-color; font-size:21px; line-height:74px; opacity:1;z-index:200;}	
														
													}
											}	
										
									}
									.separate-slice {height:80px; width:980px;}
									.rating_wrapper
										{
											padding:40px 0 52px 20px;
											overflow:hidden;
											.rating_wrapper-top
												{
													.rating_wrapper-arrow
														{
															overflow:hidden;
															width:36px;
															height:36px;
															background:url($img-dir + "anim-arrow.png") no-repeat;
															-webkit-animation: play 1s steps(8) infinite;
															-moz-animation: play 1s steps(8) infinite;
															-o-animation: play 1s steps(8) infinite;
															animation: play 1s steps(8) infinite;
														}
													margin-top: 45px;
													img {display:block; }
													width:160px;
													float:left;
													a {color:#659be1; }
													a.button {display:inline-block;color:$text-color;letter-spacing:0; text-decoration:none; margin-top:40px; padding:9px; font-size:15px;}
												}
											.rating_wrapper-table
												{
													float:left;
													width:560px;
													 h4 {font-size:24px;}
													 table 
														{
															margin-top:26px;
															td {padding:5px 0;}
															.rating-count {width:27px; color:#999999; font-size:13px;}
															.rating-img {width:51px; img {vertical-align:middle;}}
															.rating-name {width:333px; a {color:#327ad7; font-size:15px; font-weight:bold;}}
															.rating-point {width:67px; font-size:13px;}
															.rating-time {width:75px; font-size:13px; color:#666666;}
														
															
														}
												
												}	
											aside
												{
													margin-top: 43px;
													float:left;
													P
													{
														font-size:13px;
														color: #999999;
														font-style: italic;
														line-height: 1.5;
														margin: 37px 0 20px;
													}
													a {margin-right: 13px;}
												}											
											
										}	
									.comments-wrapper	
										{
											padding:0 0 35px 20px;
											.comments_wrapper-top
												{
													overflow:hidden;
													h4 {font-size:24px;float:left;}
													ul
														{
															margin-top:6px;
															margin-left:67px;
															float:left;
															li {padding-left:26px; float:left; &.write-comment {background:url($img-dir + "review.png") 0 50% no-repeat;}}
															a {color:#659be1; border-bottom:1px solid #327ad7; text-decoration:none; line-height:$main-lh;}
														}
												}
											.comments_wrapper-block	
												{
													
													overflow:hidden;
													margin-top:32px;
													.comments_wrapper-list
														{
															figcaption
																{
																	margin-top:6px;
																}
															p {font-size:13px; line-height:$main-lh;}
															width:278px;
															float:left;
															.comments_wrapper-title
																{
																	overflow:hidden;
																	img {float:left; margin-right:18px;}
																	a {color:#659be1; font-size:13px; font-weight:bold; margin-right:13px;}
																	span {font-size:13px; color:#a7a7a7;}
																}
															.comments_wrapper_date
																{
																	ul {overflow:hidden; li {width:12px; height:11px;float:left; background:url($img-dir + "small-star.png")} }
																	
																}															
															
																
														}
													.comments_wrapper-list ~ .comments_wrapper-list {margin-left:43px;}
														
												}
											
										}										
							}						
					}
			}		
	}
/* inputs styles	 */
.terms-check {background:url($img-dir + "check-unactive.png") 0 0 no-repeat; height:20px; display:block;cursor:pointer; padding: 0 0 0 24px; margin: 20px 0 0; }
.terms-check label {vertical-align:bottom;  font-size:13px; line-height:1.3;}
.checkOn {background:url($img-dir + "check-active.png") 0 0 no-repeat;
			/* background-position:3px 2px, 0 100%; */	}
.terms-check input { display: none; }

/* ANIMATION STYLES */
@-webkit-keyframes play { 
      0% { background-position:    0px 0; } 
    100% { background-position: -256px 0; }
}

@-moz-keyframes play { 
      0% { background-position:    0px 0; } 
    100% { background-position: -256px 0; }
}
@-o-keyframes play { 
      0% { background-position:    0px 0; } 
    100% { background-position: -256px 0; }
}
@keyframes play { 
      0% { background-position:    0px 0; } 
    100% { background-position: -256px 0; }
}















